[submodule "third_party/inih"]
	path = third_party/inih
	url = https://github.com/benhoyt/inih.git
[submodule "third_party/wxWidgets"]
	path = third_party/wxWidgets
	url = https://github.com/wxWidgets/wxWidgets.git
